@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primary-color-green: #40c7a3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    min-width: 320px;
    font-size: 1.6rem;
    position: fixed;
}

header {
    min-width: 320px;
    width: 100%;
    height: 173px;
    margin-bottom: 25px;
}

.header__logo-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    background-color: var(--primary-color-green);
}

.header__logo-container__item {
    width: 32px;
    height: 32px;
}

.header__nav-container {
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__nav-container__logo {
    width: 320px;
    height: 100px;
}

.header__nav-container__about-me {
    border-bottom: 1px solid black;
}

.main-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 173px);
    background-image: url('https://i.postimg.cc/yxZvKTjH/Cover.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.main-container__elements-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main-container__elements-container__title {
    font-family: 'Roboto mono', monospace;
    letter-spacing: 1rem;
    font-size: 3rem;
    text-align: center;
    color: white;
}

.main-container__elements-container__button {
    background-color: var(--primary-color-green);
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
    border: 1px solid white;
    cursor: pointer;
}